/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    object-fit: contain;
    max-width: 100%; 
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges; 

}


body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    background: #FBFBFB;
    color: #333;
    font-size: 16px;
}

.insta-card {
    width: 150px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 99;

}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px;
}

.insta-cordpost .insta-card.card:first-child {
    position: relative;
    left: 9px;
    top: 7px;
}


.card-img img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.card-actions i.fa-solid.fa-heart {
    color: red;
}

.card-actions i.fa-regular.fa-comment {
    color: #000;
}

.card-actions i.fa-regular.fa-paper-plane {
    color: #000;
}

.card-caption {
    padding: 0 7px 7px;
    font-size: 7px;
    color: #333;
    text-align: left;
}

.card-actions {
    text-align: left;
    padding: 4px 4px;
    display: flex;
    align-items: center;
}

.card-actions i {
    margin-right: 3px;
    font-size: 7px;
}


.card-header span {
    color: #000;
    font-size: 7px;
}


.header-right {
    color: #000;
    cursor: pointer;
}

.header-left {
    display: flex
;
    position: relative;
    top: 12px;
    align-items: flex-start;
}
.insta-cordpost {
    display: flex;
}




img {
    max-width: 100%;
    width: 100%;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.1em;
}

.mobilelist {
    display: none;
}



.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}





@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 800px) {
    .container {
        max-width: 780px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    /* XXL screens */
}

@media (min-width: 1600px) {
    .container {
        max-width: 1500px;
    }
}

@media (min-width: 1800px) {
    .container {
        max-width: 1700px;
    }
}

@media (min-width: 2000px) {
    .container {
        max-width: 1900px;
    }
}

.search-box {
    display: flex;
    align-items: center;
    background: #363838;
    border: 1px solid #363838;
    border-radius: 20px;
    padding: 5px 12px;
    width: 370px;
    margin-left: -220px;
}

.hero-content p {
    color: #4CBBEC;
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 35px;
}

.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 0.9em;
    font-weight: 300;
    margin-left: 8px;
}

button.search-icon img {
    width: 15px;
}

.search-box input::placeholder {
    color: #bbb;
}

button.search-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button.buttons.btan {
    margin: 35px 5px;
}

/* Header */
.header {
    background: #000;
    padding: 15px 0;
    color: #fff;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.nav a {
    margin-left: -23px;
    text-decoration: none;
    color: #fff;
    padding: 9px 34px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s;
}

.btn-small {
    padding: 6px 12px;
    background: #4CBBEC;
    border-radius: 4px;
}

/* Hero */
.hero {
    background: url('images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 80px;
    text-align: center;
    color: #fff;
    padding-bottom: 0;
    background-position: bottom;
}

.slider-wrapper .tag-slider .slick-arrow {
    width: 90px !important;
}

.slick-prev::before,
.slick-next::before {
    content: "";
    display: none !important;
}

.slider-wrapper .tag-slider .slick-arrow svg {
    width: 22px !important;
    position: relative;
    top: -23px;
}

.tag-slider {
    padding: 30px !important;
}

.hero-content {
    position: relative;
    z-index: 1;
}


.hero h1 {
    margin-bottom: 20px;
    font-weight: 400;
}

.hero .blue {
    color: #4CBBEC;
    font-weight: 700;
}

.hero-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 470px 1fr;
    align-items: start;
}

.onephone {
    width: 111px;
    margin: 0 auto;
}

/* Section Wrapper */
.talents-section {
    background: #FBFBFB;
    text-align: center;
    padding: 80px 20px;
    box-shadow: 1px 1px 36px #00000040;
}

.section-title {
    font-size: 2.5em;
    font-weight: 800;
    color: #4CBBEC;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* Flex Layout */
.talents-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

/* Talent Text Box */
.talent-box {
    flex: 1 1 300px;
    text-align: right;
}

.talent-box-contant-thre {
    flex: 1 1 300px;
    text-align: left;
}

.talent-box-contant-thre h3 {
    font-size: 2.2em;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

.talent-box h3 {
    font-size: 2.2em;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

.talent-box .subtitle {
    font-size: 1.5em;
    font-weight: 600;
    color: #4CBBEC;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.talent-box-contant-thre .subtitle {
    font-size: 1.5em;
    font-weight: 600;
    color: #4CBBEC;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.talent-box-contant-thre .desc {
    font-size: 1.3em;
    color: #000;
    line-height: 1.6;
    font-weight: 400;
}

.talent-box .desc {
    font-size: 1.3em;
    color: #000;
    line-height: 1.6;
    font-weight: 400;
}

img.profile-pic {
    max-width: 30px;
}
.talent-phone {
    padding: 0px 45px;
}
/* Phone Image */
.talent-phone img {
    max-width: 240px;
}

/* Button Link */
.btn-link {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 400;
    color: #4CBBEC;
    text-decoration: underline;
}

.btn-link:hover {
    text-decoration: underline;
}



.footer-bottom p {
    font-size: 1.4em;
    font-weight: 300;
}

/* Button */
.btn {
    background: #4CBBEC;
}

.copyright {
    display: flex;
    align-items: end;
    justify-content: space-between;
    
}
p.powrd-by {
    font-weight: 300;
    color: #eee;
}

.images-stack img {
    width: 400px;
}

/* Sections */
section.invirelr {
    padding: 120px 0px;
    text-align: center;
}

section.particuliers {
    text-align: center;
    padding: 60px 0px;
}

section.toklivik {
    padding: 100px 0px;
    text-align: center;
}

nav.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}





/****************** Categories *************************/

.slider-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 10px;
    scrollbar-width: none;
}



.slider::-webkit-scrollbar {
    display: none;
}



.iniflun button {
    background: #000;
    color: #fff;
    border: none;
    padding: 20px 0px;
    border-radius: 12px;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 95%;
    margin: 8px 0px;
}



.iniflun button:hover {
    background: #333;
}


.heading-adombil {
    text-align: center;
}


/* Contact Methods */
.contact-section {
    background: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 40px 20px;
}


.top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.contact-info {
    text-align: left;
    width: 60%;
}

.contact-info h2 {
    font-size: 2em;
    margin-bottom: 38px;
}

.heading-adombil h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: 600;
    color: #000;
}

.asterlass {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.desc {
    font-size: 14px;
    line-height: 1.5;
    color: #ccc;
}

.divider {
    border: none;
    border-top: 2px solid #4CBBEC;
    margin: 40px 0;
}


.circle img {
    width: 70px;
    margin-bottom: 11px;
}

.bottom-part {
    text-align: center;
}


.icon-container {
    display: flex;
    gap: 50px;
    margin: 40px 0px;
    text-align: center;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    transition: transform 0.3s ease;
}

.circle img {
    width: 70px;
}

.bottom-part p {
    text-align: left;
    font-size: 1.8em;
    font-weight: 500;
}

.zoomhoveranimetion:hover {
    transform: translateY(-20px);
}

.zoomhoveranimetion {
    transition: transform 0.4s ease;
}

.circle:hover {
    transform: scale(1.1);
}

.bottom-part {
    text-align: left;
    width: 68%;
}
.copyright div {
    width: 215px;
}

.images-stack {
    width: 30%;
}

.contact-info p {
    margin-top: 38px;
    font-size: 1.6em;
}

p {
    font-size: 1.6em;
}

.bottom-part h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
    font-weight: 600;
}

.label {
    font-size: 1.4em;
    font-weight: 600;
}


.bottom-part .icons {
    justify-content: center;
    margin-bottom: 20px;
}

.learn-more {
    display: inline-block;
    margin-top: 50px;
    color: #4CBBEC;
    text-decoration: underline;
    font-weight: 600;
    font-size: 2.2em;
}

.learn-more:hover {
    text-decoration: underline;
}



/* Affiliate */
.affiliate {
    background: #f8f8f8;
}



/* Footer */
.footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}





.wrapper {
    text-align: center;
    padding: 25px 25px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.grightcard {
    text-align: center;
    padding: 25px 25px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.grightcard h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
}

.grightcard h3 span {
    color: #4CBBEC;
}

.iconphone img.webam {
    width: auto;
    height: 35px !important;
}

.iconphone img.smsis {
    width: auto;
    height: 35px!important;
}

.iconphone img.emlisa {
    width: auto;
    height: 35px!important;
}

img.hghy {
    width: auto;
    height: 35px!important;
}

button.iconphone {
    border-radius: 100px;
    background-color: #4CBBEC;
    padding: 10px;
    width: 70px;
    height: 70px;
    margin: -18px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    font-size: 10px;
    color: #fff;
    position: relative;
    z-index: 9;
    transition: transform 0.3s ease;
}

.mainphone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

button.iconphone img {
    box-shadow: none;
}

.onephone img.bpxdrop {
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.grightcard h5 {
    color: #4CBBEC;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-top: 17px;
    font-weight: 500;
}

.wrapper h2 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000;
}

.wrapper .cards {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.wrapper .card {
    border-radius: 10px;
    overflow: hidden;
    transform: rotate(-4.52deg);
    box-shadow: 1px 16px 50px #00000040;
}

.wrapper .card:nth-child(2) {
    transform: rotate(0deg);
}

.wrapper .card:nth-child(3) {
    transform: rotate(4.52deg);
    position: relative;
    left: -9px;
    top: 5px;
}

 

.mobiles-phones {
    display: none;
}

/* CTA Button */
.wrapper .cta {
    margin-top: 41px;
    display: inline-flex;
    align-items: center;
    background: #4CBBEC;
    color: #fff;
    padding: 9px 15px;
    border-radius: 14px;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 180px;
}

.wrapper .cta::after {
    content: "";
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 25px 25px 25px;
    border-style: solid;
    border-color: transparent transparent #4CBBEC transparent;
}

button.iconphone span {
    font-size: 10px;
}

.cta img {
    margin-right: 5px;
    width: 35px;
}

.cta i {
    margin-right: 10px;
    font-size: 16px;
}

.cta:hover {
    background: #039be5;
}

button.iconphone:hover {
    transform: scale(1.1);
}

.contact-info button.iconphone {
    margin: 0;
    width: 76px;
    height: 76px;
    transition: transform 0.3s ease;
}

.contact-info .mainphone {
    gap: 28px;
    display: flex;
}

footer {
    background: #000;
    color: #fff;
    padding: 40px 60px 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}



.footer-logo {
    flex: 1;
}

.footer-logo img {
    width: 120px;
}

.top-francice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 0px 110px;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: #00aef7;
}

.footer-lang {
    flex: 1;
    text-align: right;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer-lang img {
    width: 20px;
    margin-left: 8px;
    vertical-align: middle;
}

.footer-bottom {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
}

.social-icons {
    margin-top: 40px;
    text-align: left;
    display: flex;
    gap: 10px; 
}

.social-icons a {
    margin-left: 5px;
}



.social-icons img {
    width: 25px;
}

.social-icons p.powrd-by {
    font-size: 1.4em;
    font-weight: 300;
}

button.buttons {
    background-color: #4CBBEC;
    padding: 23px 66px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}

button.btan {
    background-color: #ffffff;
    padding: 23px 66px;
    border: none;
    border-radius: 10px;
    color: #4CBBEC;
    font-size: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}

button.buttons.btan:hover {
    background-color: #4cbbec;
    color: #fff;
    transition: 0.5s;
}

button.buttons:hover {
    background-color: #343535;
    color: #fff;
    transition: 0.5s;
}

span.blue {
    color: #4CBBEC;
}

.lilitok h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;
    color: #000;
    font-size: 25px;
}



/**********************new a css******************/
.search-boxbottm {
    display: flex;
    align-items: center;
    border: 1px solid #4CBBEC;
    border-radius: 10px;
    padding: 8px 12px;
    width: 700px;
    background: #FBFBFB;
    box-shadow: 1px 1px 20px 7px #00000014;
    margin: 40px auto;
}

.search-boxbottm i {
    margin-right: 8px;
}

.search-boxbottm input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 18px;
    color: #868686;
    background-color: transparent;
    padding-left: 20px;
}

.center-content h3 span {
    color: #4CBBEC;
}

.trouvez-votre .card {
    border: 1px solid #4CBBEC;
    border-radius: 15px;
    text-align: center;
}

.trouvez-votre .card img {
    width: 100%;
    border-radius: 8px;
}

.trouvez-votre a.virbuton {
    color: #4CBBEC;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
}

.center-content h3 {
    font-weight: 600;
    color: #000;
}

.trouvez-votre .card.slick-slide {
    margin-right: 25px;
}

.trouvez-votre .slick-dots li button {
    border: 1px solid #4CBBEC;
    width: 25px;
    height: 25px;
    border-radius: 100px;
}

.slick-dots li.slick-active button {
    background-color: #4CBBEC;
}

.slick-dots {
    bottom: -70px;
}

.slick-dots li button:before {
    content: "";
}

section.particuliers {
    background-color: #070707;
}

.fleing {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #4CBBEC;
    font-weight: 500;
    gap: 10px;
    margin-top: 50px;
}

.fleing img {
    width: 30px;
}

.mainparticuli h3 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.contacter {
    text-align: left;
    background-color: #EDEDED;
    padding: 50px 20px;
    position: relative;
}

.contacter span.numbers {
    background-color: #EDEDED;
    border-radius: 100px;
    border: 1px solid #4CBBEC;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 1.9em;
    right: 0;
    margin: 0 auto;
}

.professionnels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 65px;
}

.contacter h5 {
    margin: 25px 0px;
    font-size: 1.7em;
    font-weight: 600;
    transition: 0.5s;
}

.contacter h5 span {
    font-size: 1.4em;
    font-weight: 700;
}

.contacter span {
    color: #4CBBEC;
}

.contacter p {
    font-size: 1.4em;
    font-weight: 400;
    transition: 0.5s;
}

.contacter:hover h5 {
    font-size: 1.9em;
}

.contacter:hover p {
    font-size: 1.6em;
}

.tablet {
    display: none;
}

button.iconphone img {
    margin-bottom: 3px;

}

img.chtsi {
    width: auto;
    height: 35px!important;
}

img.teconsa {
    width: auto;
    height: 35px!important;
}

.butarrow {
    display: none;
}

img.hghy {
    width: auto;
    height: 35px!important;
}
.molile-stack {
    display: none;
}

/**********************new a css******************/


@media(max-width: 1750px) {
    body {
        font-size: 13px;
    }

    .onephone {
        width: 100px;
    }
}

@media(max-width: 1550px) {

    .wrapper h2 {
        font-size: 1.5em;
    }

    .wrapper .cta {
        max-width: 160px;
    }

    .hero-grid {
        grid-template-columns: 450px 1fr;
    }

    .section-title {
        font-size: 2em;
    }

    .talent-box h3 {
        font-size: 2em;
    }

    .talent-box-contant-thre h3 {
        font-size: 2em;
    }

    .talent-box .subtitle {
        font-size: 1.4em;
    }

    .talent-box-contant-thre .subtitle {
        font-size: 1.4em;
    }

    .btn-link {
        font-size: 1.3em;
    }

    /* .heading-adombil h2 {
        font-size: 1.7em;
    } */

    .iniflun button {
        font-size: 1.2em;
    }

    .bottom-part p {
        font-size: 1.6em;
    }

    .label {
        font-size: 1.3em;
    }

    .learn-more {
        font-size: 2em;
    }

    .center-content h3 {
        font-size: 2em;
    }

    button.search-icon img {
        width: 20px;
    }

    .search-boxbottm {
        width: 600px;
    }



    .contacter span.numbers {
        width: 75px;
        height: 75px;
    }

    .contacter {
        padding: 30px 20px;
    }

    .fleing {
        font-size: 1.3em;
    }


    .lilitok h3 {
        font-size: 1.8em;
    }

    .onephone {
        width: 122px;
    }

}

@media(max-width: 1400px) {
    body {
        font-size: 11px;
    }

    .search-boxbottm {
        width: 500px;
    }

    .onephone {
        width: 112px;
    }

    .footer-links ul li a {
        font-size: 17px;
    }

    .footer-links ul {
        gap: 0px 80px;
    }

    .grightcard h5 {
        font-size: .9em;
    }


    .wrapper h2 {
        font-size: 1.3em;
        margin-bottom: 16px;
    }

    .onephone img.bpxdrop {
        border-radius: 20px;
    }

}

@media(max-width: 1300px) {
    .onephone {
        width: 112px;
    }

}

@media(max-width: 1200px) {

    body {
        font-size: 13px;
    }

    .onephone img.bpxdrop {
        border-radius: 12px;
    }

    .onephone {
        width: auto;
    }

    .hero {

        padding-top: 45px;

    }

    .search-box {
        width: auto;
        margin-left: 0px;
    }

    .professionnels {
        grid-template-columns: repeat(1, 1fr);
    }

    .contacter {
        padding: 30px 20px;
    }

    .contacter span.numbers {
        margin: 0 auto;
        margin-left: auto;
        left: auto;
        width: 80px;
        height: 80px;
        right: 40px;
    }

    h1 {
        font-size: 1.6em;
    }

    .hero-content p {
        font-size: 1.4em;
    }

    .wrapper h2 {
        font-size: 0.9em;
    }

    .hero-grid {
        grid-template-columns: 380px 1fr;
    }

    .talent-box h3 {
        font-size: 2em;
    }

    .talent-box .subtitle {
        font-size: 1.4em;
    }

    .talent-box-contant-thre h3 {
        font-size: 2em;
    }

    .talent-box-contant-thre .subtitle {
        font-size: 1.4em;
    }

    .heading-adombil h2 {
        font-size: 1.6em;
    }

    .heading-adombil h2 br {
        display: none;
    }

    .iniflun button {
        border-radius: 15px;
        font-size: 1.4em;
        font-weight: 600;
    }

    section.invirelr {
        padding: 80px 0px;
    }

    .top-part {
        flex-wrap: nowrap;
    }

    .contact-info h2 {
        font-size: 1.6em;
        font-weight: 600;
    }

    .contact-info p {
        font-size: 1.3em;
    }

    .bottom-part h2 {
        font-size: 1.6em;
    }

    .label {
        font-size: 1.2em;
        font-weight: 400;
    }

    .bottom-part p {
        font-size: 1.2em;
    }

    .learn-more {
        font-size: 1.4em;
    }

    .center-content h3 {
        font-size: 1.7em;
    }

    .trouvez-votre a.virbuton {
        font-size: 1.3em;
    }

    .mainparticuli h3 {
        margin-bottom: 80px;
        font-size: 1.6em;
    }

    .contacter h5 {
        font-size: 2em;
        margin-top: 0;
    }

    .contacter {
        padding: 24px 24px;
    }

    .professionnels {
        gap: 60px 65px;
    }

    .lilitok h3 {
        font-size: 2em;
    }

    .search-box {
        width: 245px;
    }

    nav.nav {
        display: none;
    }

    .logo img {
        width: 87px;
    }

    .tablet {
        display: block;
    }

    .tablet ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .search-box {
        width: auto;
    }



    a.buttomtabletheader {
        background-color: #4CBBEC;
        padding: 12px;
        font-size: 1.4em;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        border-radius: 16px;
    }

    p.price {
        font-size: 1.5em;
        font-weight: 500;
    }

    a.emailtablet img {
        width: 28px;
    }

    a.emailtablet {
        position: relative;
    }

    a.emailtablet span {
        background-color: #4cbbec;
        font-size: 15px;
        color: #fff;
        position: absolute;
        width: 20px;
        height: 20px;
        font-weight: 600;
        text-align: center;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -25px;
        right: -14px;
    }

    .footer-links ul {
        gap: 0px 58px;
    }






}

/* Responsive */
@media(max-width: 991px) {
    .onephone img.bpxdrop {
        border-radius: 10px;
    }
   

    .wrapper .cta {
        max-width: 138px;
        padding: 5px 10px;
        font-size: 0.6em;
    }

    .insta-card {
        width: 98px;
    }

    .card-actions i {
        font-size: 9px;
    }

    .card-caption {
        padding: 0 5px 5px;
        font-size: 5px;
    }




    .grightcard {
        padding: 25px 15px;
        box-shadow: none;
    }

    .wrapper {
        padding: 25px 10px;
        box-shadow: none;
    }

    .hero-grid {
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        background-color: #fff;
        border-radius: 15px;
    }

    button.iconphone {
        margin: -10px auto;
    }

    .wrapper h2 {
        font-size: 0.9em;
    }

    .hero h1 br {
        display: none;
    }

    .hero-content p {
        font-size: 1.3em;
    }

    .grightcard h5 {
        font-size: 1em;
    }

    .wrapper h2 {
        font-size: 1em;
    }

    .grightcard h3 {
        font-size: 1.3em;
        width: 178px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    button.btan {
        padding: 17px 50px;
    }


    .talents-wrapper {
        max-width: 100%;
    }

.talent-phone {
    padding: 0px 25px;
}


    .talent-box-contant-thre h3 br {
        display: none;
    }

    .talent-box h3 br {
        display: none;
    }



    .talent-box h3 {
        font-size: 1.5em;
    }

    .talent-box .subtitle {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .talent-box .desc {
        font-size: 1em;
    }

    .talent-box-contant-thre h3 {
        font-size: 1.5em;
    }

    .talent-box-contant-thre .subtitle {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .talent-box-contant-thre .desc {
        font-size: 1em;
    }

    

    .contacter h5 {
        margin-bottom: 20px;
        font-size: 1.6em;
    }

    .contacter p {
        font-size: 1.3em;
    }

    .contacter:hover p {
        font-size: 1.5em;
    }

    .contacter:hover h5 {
        font-size: 1.7em;
    }

    .top-part {
        flex-wrap: wrap;
    }

    .contact-info .mainphone {
        justify-content: center;
    }

 

    .bottom-part {
        width: 100%;
    }

   

    .asterlass .images-stack {
        margin-top: 40px;
        display: block
    }

    .iniflun button {
        font-size: 1.2em;
    }

    .center-content br {
        display: none;
    }

.contact-info .mainphone {
    gap: 15px;
}

    .footer-links ul {
        gap: 20px 20px;
        flex-wrap: wrap;
        justify-content: start;
    }

.icon-container
 {
    gap: 10px;
}
    .contacter span.numbers {
        width: 65px;
        height: 65px;
        top: -32px;
    }

    .lilitok h3 {
        font-size: 1.7em;
    }

    section.toklivik {
        padding: 60px 0px;
        text-align: center;
    }

    .butarrow {
        display: block;
        padding-top: 50px;
    }

    .butarrow button.uparrow {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    a.mobileview {
        display: none;
    }

.talent-box .desc br {
    display: none;
}
.talent-box-contant-thre p.desc br {
    display: none;
}
}



@media(max-width: 768px) {
    a.mobileview {
        display: block;
    }
    .images-stack {
    display: none;
}
.molile-stack {
    display: block;
    order: 2;
}

    .insta-card {
        width: 150px;
    }

    button.iconphone img {
        width: auto;
        height: 26px;
    }

    .mainphone button.iconphone {
        width: 60px;
        height: 60px;
    }

    .card .mainphone button.iconphone {
        width: 40px;
        height: 40px;
    }

    button.iconphone span {
        font-size: 6px;
    }

    .insta-cordpost {
        justify-content: center;
    }

    .mobilelist {
        display: block;
        margin-bottom: 40px;
    }

    .mobilelist button.iconphone {
        padding: 10px;
        width: 65px;
        height: 65px;
        margin: 0 auto;
    }

    button.iconphone img {
        width: 28px;
    }

    .hero-grid {
        grid-template-columns: 1fr;
        gap: 15px;
        background-color: transparent;
        border-radius: 15px;
    }

    .grightcard h3 {
        width: max-content;
    }

    .mobilelist {
        margin-bottom: 25px;
    }

    .mainphone {
        gap: 5px;
    }

    .hero-grid a.cta {
        display: none;
    }

    button.iconphone span {
        display: none;
    }

    button.iconphone {
        padding: 10px;
        width: 50px;
        height: 50px;
    }

    button.buttons.btan {
        margin: 25px 5px;
        background-color: #4cbbec;
        color: #fff;
    }

    .mobiles-phones {
        display: block;
    }

    .mobiles-phones {
        display: flex;
        margin-bottom: 45px;
        align-items: center;
    }

    button.btan {
        padding: 15px 40px;
    }

    .fleing {
        margin-top: 20px;
    }

    .grid-2 {
        grid-template-columns: 1fr;
    }

    section.invirelr {
        padding: 60px 0px;
    }

    section.particuliers {
        padding-bottom: 20px;
    }

    button.buttons {
        padding: 18px 50px;
    }

    .slick-dots {
        bottom: -20px;
        position: relative;
    }

    .slick-dots li button {
        border-radius: 90px;
        background: transparent;
        border: 1px solid #4cbbec;
    }

    .tag-slider {
        padding: 0px 30px !important;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .tablet a.buttomtabletheader {
        display: none;
    }

    .search-box {
        display: none;
    }

    p.price {
        font-size: 1.5em;
        font-weight: 500;
        display: none;
    }

    .molios img {
        width: 21px;
        margin-bottom: 0 !important;
    }

    .contact-info .mainphone.hides {
        display: none;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        grid-template-columns: 1fr 1fr;
        margin: 20px 0;
    }

    .footer-lang,
    .social-icons {
        text-align: center;
        margin-top: 15px;
    }

    .slider button {
        font-size: 14px;
        padding: 10px 18px;
    }

    .grid-4 {
        grid-template-columns: 1fr 1fr;
    }

    .hero h1 {
        font-weight: 700;
    }

    h1 {
        font-size: 1.5em;

    }

    .contact-info .mobilesde span {
        margin-top: 10px;
        display: block;
        text-align: center;
    }

    .hero-content p {
        font-size: 1.2em;
    }

    .mobilelist button.iconphone span {
        display: block;
    }

    .wrapper h2 {
        font-size: 1.1em;
    }

    .contact-info button.iconphone img {
        margin-bottom: 0;
    }

    .grightcard h3 {
        font-size: 1.1em;
    }

    .grightcard h5 {
        font-size: 1em;
    }

    .talents-section {
        padding: 35px 15px;
        margin-bottom: 40px;
    }

    .talent-box-contant-thre .desc br {
        display: none;
    }

    .section-title {
        font-size: 1.7em;
    }

    .talent-box h3 {
        font-size: 1.7em;
    }

    .talent-box .subtitle {
        font-size: 1.4em;
    }

    .talent-box-contant-thre h3 {
        font-size: 1.7em;
    }

    .talent-box-contant-thre .subtitle {
        font-size: 1.4em;
    }

    .talent-box-contant-thre .desc {
        font-size: 1.2em;
    }

    .btn-link {
        margin-top: 20px;
        font-size: 1.4em;
    }

    .heading-adombil h2 {
        font-size: 1.3em;
    }

    .contact-info h2 {
        font-size: 1.7em;
    }

    .bottom-part h2 {
        font-size: 1.5em;
    }

    .bottom-part p {
        font-size: 1em;
    }

    .center-content h3 {
        font-size: 1.4em;
    }

    .contacter h5 {
        font-size: 1.5em;
    }

    .contacter span.numbers {
        width: 50px;
        height: 50px;
        top: -30px;
    }

    .contacter p {
        font-size: 1.2em;
    }

    .wrapper h2 {
        font-size: 1em;
    }

    section.toklivik {
        padding: 70px 0px;
    }

    .lilitok h3 {
        font-size: 1.4em;
    }

    .hero-content br {
        display: none;
    }

    .footer-links ul {
        text-align: left;
        gap: 20px;
        justify-content: center;

    }

    .march-linl {
        width: 45%;
    }

    footer {
        padding: 10px 0px 20px;
    }

    
    p.powrd-by { 
    font-size: 11px;
}
.social-iconsdd {
    display: flex;
    width: 60%!important;
    align-items: center;
}
.footer-links ul li a {
        font-size: 14px;
    }
.copyright>div:first-child {
    display: none;
}
.social-icons img 
 {
    width: 20px;
}
.social-icons {
    margin-right: 10px;
}
.social-icons a {
    margin-left: 0px;
}
.copyright div {
    width: auto;
}
.footer-lang { 
    margin-bottom: 0;
}
section.toklivik {
    padding-bottom: 40px;
}
}

@media(max-width: 680px) {
    .icon-container {
        gap: 20px;
        justify-content: start;
        flex-direction: column;
    }

}

@media(max-width: 500px) {
    .hero h1 {
        margin-bottom: 10px;
    }

    .insta-card {
        width: 103px;
    }

    .fleing img {
        width: 20px;
    }

    .top-francice {
        flex-wrap: wrap;
    }

    .footer-links ul {
        gap: 20px 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid-4 {
        grid-template-columns: 1fr;
    }

    .talent-box .desc br {
        display: none;
    }

    .fleing {
        font-size: 1em;
    }



    .contact-info .mainphone {
        gap: 15px;
    }

    .contact-info button.iconphone {
        width: 55px;
        height: 55px;
    }



    .search-boxbottm {
        width: 100%;
    }

    .footer-links ul {
        justify-content: center;
    }

    .hero {
        padding-top: 15px;
    }

     .copyright {
        display: flex
;
        align-items: center;
        /* justify-content: space-between; */
        /* flex-direction: column; */
        gap: 0;
    }

      .footer-bottom {
        margin-top: 14px;
        font-size: 9px;
        /* order: 2; */
        width: 30%;
    }

    .footer-logo {
        flex: 100%;
    }

    .footer-lang,
    .social-icons {
        text-align: center;
        margin-top: 15px;
    }

    .social-icons p.powrd-by {
        font-size: 1.1em;
    }

}

@media (max-width: 400px) {
    button.iconphone img {
        width: auto;
        height: 29px;
    }

    .iconphone img.webam {
        width: auto;
        height: 29px;
    }

    .iconphone img.emlisa {
        width: auto;
        height: 29px;
    }

    button.iconphone img {
        width: auto;
        height: 29px;
    }

    .mobilelist button.iconphone {
        width: 60px;
        height: 60px;
    }

    .slick-dots li.slick-active button {
        background-color: #4CBBEC;
        border-radius: 90px;
    }
}