/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif; 
    line-height: 1.5;
    background: #FBFBFB;
    color: #333;
    font-size: 16px;
}

img {
    max-width: 100%;
    width: 100%;
}

img {
    max-width: 100%;
}
h1{font-size: 2.5em;}
h2{font-size: 2.5em;}
h3{
  font-size: 2.1em;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
    @media (min-width: 576px) {
      .container { max-width: 540px; }
    }
    @media (min-width: 768px) {
      .container { max-width: 720px; }
    }
    @media (min-width: 992px) {
      .container { max-width: 960px; }
    }
    @media (min-width: 1200px) {
      .container { max-width: 1140px; }
    } 
  @media (min-width: 1400px) {
    .container { max-width: 1320px; }  /* XXL screens */
  }
  @media (min-width: 1600px) {
  .container { max-width: 1500px; }
}

@media (min-width: 1800px) {
  .container { max-width: 1700px; }
}

@media (min-width: 2000px) {
  .container { max-width: 1900px; }
}
 .search-box {
    display: flex;
    align-items: center;
    background: #363838;
    border: 1px solid #363838;
    border-radius: 20px;
    padding: 5px 12px;
    width: 400px;
}

.hero-content p {
    color: #4CBBEC;
    font-size: 1.7em;
    font-weight: 500;
    margin-bottom: 60px;
}

.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
    margin-left: 8px;
}

.search-box input::placeholder {
    color: #bbb;
}

button.search-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
button.buttons.btan {
    margin: 50px 5px;
}

/* Header */
.header {
    background: #000;
    padding: 15px 0;
    color: #fff;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
nav.nav a:hover {
    background-color: #4cbbec;
} 
 

.nav a {
    margin-left: 7px;
    text-decoration: none;
    color: #fff;
    padding: 8px 34px;
    color: #fff;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.1em;
    transition: 0.3s;
}

.btn-small {
    padding: 6px 12px;
    background: #0dcaf0;
    border-radius: 4px;
}

/* Hero */
.hero {
    background: url('images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 80px;
    text-align: center;
    color: #fff;
    padding-bottom: 0;
}

.slider-wrapper .tag-slider .slick-arrow {
    width: 90px !important; 
}
.slick-prev::before,  .slick-next::before{
  content: "";
  display: none!important;
}

.tag-slider {
    padding: 30px!important;
}
.hero-content {
    position: relative;
    z-index: 1;
}
 

.hero h1 { 
    margin-bottom: 20px;
    font-weight: 400;
}

.hero .blue {
    color: #0dcaf0;
    font-weight: 700;
}

.hero-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 560px 1fr;
}


/* Section Wrapper */
.talents-section {
    background: #FBFBFB;
    text-align: center;
    padding: 60px 20px;
        box-shadow: 1px 1px 36px #00000040;
}

.section-title {
    font-size: 2.5em;
    font-weight: 700;
    color: #4CBBEC; 
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* Flex Layout */
.talents-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

/* Talent Text Box */
.talent-box {
    flex: 1 1 300px;
    text-align: right;
}

.talent-box-contant-thre {
    flex: 1 1 300px;
    text-align: left;
}

.talent-box-contant-thre h3 {
    font-size: 2.2em;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

.talent-box h3 {
    font-size: 2.2em;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

.talent-box .subtitle {
    font-size: 1.7em;
    font-weight: 600;
    color: #00a2ff; 
    margin-bottom: 15px;
    text-transform: uppercase;
}

.talent-box-contant-thre .subtitle {
    font-size: 1.7em;
    font-weight: 600;
    color: #00a2ff; 
    margin-bottom: 15px;
    text-transform: uppercase;
}

.talent-box-contant-thre .desc {
    font-size: 1.3em;
    color: #444;
    line-height: 1.6;
}

.talent-box .desc {
    font-size: 1.3em;
    color: #444;
    line-height: 1.6;
}

/* Phone Image */
.talent-phone img {
    max-width: 240px;
}

/* Button Link */
.btn-link {
    display: inline-block;
    margin-top: 40px;
    font-size: 1.5em;
    font-weight: 400;
    color: #00a2ff;
    text-decoration: underline;
}

.btn-link:hover {
    text-decoration: underline;
}




/* Button */
.btn {
    background: #4CBBEC;
}

/* Sections */
section.invirelr {
    padding: 150px 0px;
    text-align: center;
}
section.particuliers {
    text-align: center;
    padding: 60px 0px;
}
section.toklivik {
    padding: 100px 0px;
    text-align: center;
}
nav.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

 



/****************** Categories *************************/

.slider-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 10px;
    scrollbar-width: none;
}

 

.slider::-webkit-scrollbar {
    display: none;
}

 

.iniflun button {
   background: #000;
    color: #fff;
    border: none;
    padding: 20px 18px;
    border-radius: 8px;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 90%;
    margin: 12px 0px;
}

 

.iniflun button:hover {
    background: #333;
}

  
.heading-adombil {
    text-align: center;
}


/* Contact Methods */
.contact-section {
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 40px 20px;
}


.top-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-info { 
    text-align: left;
}

.contact-info h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
}
.heading-adombil h2 {
    font-size: 1.8em;
    margin-bottom: 50px;
    font-weight: 500;
    color: #000;
}
.asterlass {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.desc {
  font-size: 14px;
  line-height: 1.5;
  color: #ccc;
}

.divider {
  border: none;
  border-top: 2px solid #00AEEF;
  margin: 40px 0;
}

 
.circle img {
    width: 70px;
    margin-bottom: 11px;
}
.bottom-part {
  text-align: center;
}


.icon-container {
      display: flex;
      gap: 50px;
      margin: 40px 0px;
      text-align: center;
    }

    .icon-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .circle { 
      transition: transform 0.3s ease;
    }

    .circle img {
      width: 70px; 
    }
    .bottom-part p {
    text-align: left; 
    font-size: 1.8em;
    font-weight: 500;
}

    .circle:hover {
      transform: scale(1.1);
    }
    .bottom-part {
    text-align: left;
    width: 60%;
}
.images-stack {
    width: 30%;
}
.contact-info p {
    margin-top: 25px;
    font-size: 1.8em;
  }
  .bottom-part h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
    font-weight: 600;
}

   .label {
    font-size: 1.4em;
    font-weight: 600;
}


.bottom-part .icons {
  justify-content: center;
  margin-bottom: 20px;
}

.learn-more {
  display: inline-block;
  margin-top: 90px;
  color: #00AEEF;
  text-decoration: underline;
  font-weight: 600;
  font-size: 2.2em;
}
.learn-more:hover {
  text-decoration: underline;
}



/* Affiliate */
.affiliate {
    background: #f8f8f8;
}
 
 

/* Footer */
.footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}





 .wrapper { 
      text-align: center;
      padding: 25px 25px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }
.grightcard { 
    text-align: center;
    padding: 25px 25px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.grightcard h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
}
.grightcard h3 span {
    color: #4CBBEC;
}

 button.iconphone {
    border-radius: 100px;
    background-color: #4CBBEC;
    padding: 18px;
    width: 60px;
    height: 60px;
    margin: -18px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    font-size: 10px;
    color: #fff;
    position: relative;
    z-index: 9;
}
.mainphone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

 button.iconphone img {
    box-shadow: none;
}

.onephone img {
    box-shadow: 4px 1px 25px #00000040;
}
.grightcard h5 {
    color: #4CBBEC;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 500;
}

    .wrapper h2 {
      font-size: 1em;
      font-weight: 500;
      margin-bottom: 30px;
      color: #000;
    }

.wrapper .cards {
    display: flex;
    justify-content: center; 
}

.wrapper .card {
    border-radius: 10px;
    overflow: hidden;
    transform: rotate(-7.52deg);
    box-shadow: 1px 1px 40px #00000040;
}

    .wrapper .card:nth-child(2) {
      transform: rotate(0deg);
    }

    .wrapper .card:nth-child(3) {
      transform: rotate(7.52deg);
    }

.card img {
    width: 100%;
    display: block;
}


    /* CTA Button */
   .wrapper .cta {
      margin-top: 40px;
      display: inline-flex;
      align-items: center;
      background: #4CBBEC;
      color: #fff;
      padding: 12px 20px;
      border-radius: 10px;
      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      position: relative;
      max-width: 240px;
    }
.wrapper .cta::after {
    content: "";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 25px 25px 25px;
    border-style: solid;
    border-color: transparent transparent #29b6f6 transparent;
}


    .cta img {
      margin-right: 10px; 
      width: 45px;
    }

.cta i {
    margin-right: 10px;
    font-size: 16px;
}

.cta:hover {
    background: #039be5;
}

.contact-info button.iconphone{
    margin: 0;
    width: 76px;
    height: 76px;
}
.contact-info .mainphone {
    gap: 28px;
    display: flex;
}
footer {
    background: #000;
    color: #fff;
    padding: 40px 60px 20px;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
}

     

    .footer-logo {
      flex: 1;
    }

    .footer-logo img {
      width: 120px;
    }

     .top-francice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .footer-links ul {
      list-style: none;
    display: flex;
    justify-content: end;
    gap: 0px 215px;
    }

    .footer-links ul li {
      margin-bottom: 10px;
    }

    .footer-links ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      transition: 0.3s;
    }

    .footer-links ul li a:hover {
      color: #00aef7;
    }

    .footer-lang {
      flex: 1;
      text-align: right;
      font-size: 14px;
    }

    .footer-lang img {
      width: 20px;
      margin-left: 8px;
      vertical-align: middle;
    }

    .footer-bottom {
      margin-top: 30px;
      text-align: center;
      font-size: 13px;
      color: #ccc;
    }

    .social-icons {
      margin-top: 15px;
      text-align: right;
    }

    .social-icons a {
      margin-left: 10px;
      font-size: 20px;
      color: #00aef7;
      text-decoration: none;
      transition: 0.3s;
    }

    .social-icons a:hover {
      color: #fff;
    }
    .social-icons img {
    width: 20px;
}
.social-icons p.powrd-by {
    font-size: 14px;
}

button.buttons {
    background-color: #4CBBEC;
    padding: 20px 66px;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
}
button.btan {
    background-color: #ffffff;
    padding: 20px 66px;
    border: none;
    border-radius: 15px;
    color: #4CBBEC;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
}
button.buttons.btan:hover {
    background-color: #4cbbec;
    color: #fff;
    transition: 1.5s;
}
button.buttons:hover {
    background-color: #343535;
    color: #fff;
    transition: 1.5s;
}

span.blue {
    color: #4CBBEC;
}
.lilitok h3 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 40px;
}
 


/**********************new a css******************/
.search-boxbottm {
    display: flex;
    align-items: center;
    border: 1px solid #4CBBEC;
    border-radius: 15px;
    padding: 8px 12px;
    width: 750px;
    background: #FBFBFB;
    box-shadow: 1px 1px 20px 7px #00000014;
    margin: 55px auto;
} 
    .search-boxbottm i {
    
      margin-right: 8px;
    }

 .search-boxbottm input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 18px;
    color: #868686;
    background-color: transparent;
    padding-left: 20px;
}
.center-content h3 span {
    color: #4CBBEC;
}

.trouvez-votre .card {
  border: 1px solid #4CBBEC; 
  border-radius: 15px;
  text-align: center;
}
.trouvez-votre .card img {
  width: 100%;
  border-radius: 8px;
}
.trouvez-votre a.virbuton {
    color: #4CBBEC;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
}
.center-content h3{
  font-weight: 600;
}
.trouvez-votre .card.slick-slide 
 {
    margin-right: 25px;
}
.trouvez-votre .slick-dots li button {
    border: 1px solid #4CBBEC;
    width: 25px;
    height: 25px;
    border-radius: 100px;
}
.slick-dots li.slick-active button {
    background-color: #4CBBEC;
}
.slick-dots {
    bottom: -70px;
}

.slick-dots li button:before{
  content: "";
}

section.particuliers {
    background-color: #070707;
}
.fleing {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #4CBBEC;
    font-weight: 500;
    gap: 10px;
    margin-top: 50px;
}
.fleing img {
    width: 30px;
}
.mainparticuli h3 {
    color: #fff; 
    font-weight: 600;
    margin-bottom: 100px;
}
.contacter {
    text-align: left;
    background-color: #EDEDED;
    padding: 50px 20px;
    position: relative;
} 
.contacter span.numbers {
    background-color: #EDEDED;
    border-radius: 100px;
    border: 1px solid #4CBBEC;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 40px;
    right: 0;
    margin: 0 auto;
}
.professionnels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:100px 65px;
}
.contacter h5 {
    margin: 25px 0px;
    font-size: 1.7em;
    font-weight: 600;
}
.contacter h5 span {
       font-size: 1.4em;
       font-weight: 700;
}
.contacter span {
    color: #4CBBEC;
}
.contacter p {
    font-size: 1.4em;
    font-weight: 400;
}
/**********************new a css******************/


@media(max-width: 1750px) {
body { 
    font-size: 13px;
}
}
@media(max-width: 1550px) {
    
.wrapper h2 {
    font-size: 1.5em; 
}

}

@media(max-width: 1400px) {
body { 
    font-size: 11px;
}
.search-boxbottm { 
    width: 500px; 
}
}


@media(max-width: 1200px) {

body {
        font-size: 13px;
    }



.hero-grid { 
    grid-template-columns: 1fr;
}

.professionnels { 
    grid-template-columns: repeat(1, 1fr); 
}
.contacter { 
    padding: 30px 20px; 
}
.contacter span.numbers { 
    margin: 0 auto;
    margin-left: auto;
    left: auto;
    width: 80px;
    height: 80px;
    right: 40px;
}
}
@media(max-width: 1025px) {
h1 {
    font-size: 1.6em;
}
.hero-content p {
    font-size: 1.4em;
}
.wrapper h2 {
        font-size: 1.5em;
    }

.wrapper .cta {
    font-size: 1.1em;
}
.talent-box h3 {
    font-size: 2em;
}
.talent-box .subtitle {
    font-size: 1.4em;
}
.talent-box-contant-thre h3 {
    font-size: 2em;
}

.talent-box-contant-thre .subtitle {
    font-size: 1.4em;
}
.heading-adombil h2 {
    font-size: 1.6em;
}
.heading-adombil h2 br {
    display: none;
}

.iniflun button {
    border-radius: 15px;
    font-size: 1.4em;
    font-weight: 600;
}

section.invirelr {
    padding: 80px 0px;
}

.top-part {
flex-wrap: nowrap;
}
.contact-info h2 {
    font-size: 1.6em;
    font-weight: 600;
}
.contact-info p {
    font-size: 1.3em;
}
.bottom-part h2 {
    font-size: 1.6em;
}
.label {
    font-size: 1.2em;
    font-weight: 400;
}
.bottom-part p { 
    font-size: 1.2em; 
}

.learn-more {
    font-size: 1.4em;
}
.center-content h3 {
    font-size: 1.7em;
}
.trouvez-votre a.virbuton {
    font-size: 1.3em;
}

.mainparticuli h3 {
    margin-bottom: 80px;
    font-size: 1.6em;
}

.contacter h5 {
    font-size: 2em;
    margin-top: 0;
}
.contacter {
        padding: 24px 24px;
    }
    .professionnels {
    gap: 60px 65px;
}
.lilitok h3 { 
    font-size: 2em;
}
.search-box {
    width: 245px;
}
}
/* Responsive */
@media(max-width: 900px) {
    .talents-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .talent-box {
        text-align: center;
    }

    h1{
        font-size: 1.4em;
    }
.hero-content p {
        font-size: 1.2em;
    }

    .wrapper h2
 {
        font-size: 1.2em;
    }
.grightcard h3 {
    font-size: 1.2em;
}
.grightcard h5 {
    font-size: 1em;
}




}

 
@media(max-width: 768px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }
 .footer-container {
        flex-direction: column;
        text-align: center;
      }

      .footer-links {
        grid-template-columns: 1fr 1fr;
        margin: 20px 0;
      }

      .footer-lang,
      .social-icons {
        text-align: center;
        margin-top: 15px;
      }
    .slider button {
        font-size: 14px;
        padding: 10px 18px;
    }

    .grid-4 {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 500px) {
    .grid-4 {
        grid-template-columns: 1fr;
    }
}